* {
  background:                  #0a0c10;
  background-alt:              #161b22;
  foreground:                  #f0f6fc;
  selected:                    #f0f6fc;
  active:                      #0a0c10;
  urgent:                      #ff7b72;
  border:                      #21262d;
  background-alpha:            rgba(10, 12, 16, 0.5);
}

configuration {
  icon-theme:                  "Papirus-Dark";
}
